@import "reset";

/* Add Some usefull variables */ // Colors
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);
// Font-sizes
$font-small: 0.875rem;
$font-large: 2rem;

/* Utility classes   */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}

figure {
  width: 15rem;
}

@media (min-width: 38rem) {
  figure {
    width: 28.125rem;
  }
}
