@import "reset";

$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);
$font-small: 0.875rem;
$font-large: 2rem;

.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.pad-32 {
  padding: 2rem;
}
.gap-25 {
  gap: 1.6rem;
}
.gap-17 {
  gap: 1.1rem;
}

.font-fraunces {
  font-family: "Fraunces";
  font-size: $font-large;
  font-weight: 700;
  line-height: 1em;
  color: $very-dark-blue;
}
.line-throught {
  text-decoration: line-through;
}
.line-height-p {
  line-height: 1.64;
  padding-bottom: 0.175rem;
}

body {
  background-color: $cream;
  color: $dark-grayish-blue;
  font-size: $font-small;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

main {
  max-width: 21.5rem;
  flex-direction: column;
  margin: 10.9375rem auto;
  background-color: $white;
  border-radius: 0.5rem;
  overflow: hidden;
  figure {
    height: 15rem;
    position: relative;
    img {
      object-fit: cover;
      height: 100%;
      &.desktop-image {
        display: none;
      }
    }
  }
  .text-container {
    header .category {
      letter-spacing: 0.4em;
      font-size: 0.75rem;
    }
    .new-price {
      color: $dark-cyan;
    }
    .price {
      padding-bottom: 0.19rem;
    }
    button {
      background-color: $dark-cyan;
      color: $white;
      border: none;
      width: 100%;
      padding: 0.835rem;
      border-radius: 0.625rem;
      font-weight: 700;
      img {
        padding-right: 0.75rem;
      }
    }
  }
}

@media (min-width: 38rem) {
  main {
    flex-direction: row;
    max-width: 37.5rem;
    figure {
      height: 28.125rem;
      img {
        &.desktop-image {
          display: block;
        }
        &.mobile-image {
          display: none;
        }
      }
    }
    .text-container {
      width: 50%;
    }
  }
}
